In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('G:\\Machine learning\\Capstone final 2')

In [210]:
data = pd.read_csv('prods.csv')

In [21]:
data.shape

(1000, 5)

In [14]:
data.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [4]:
data.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
from sklearn.feature_extraction import text

In [6]:
tfidf = text.TfidfVectorizer(input=list(data['product_name']), stop_words='english')

In [7]:
pn = tfidf.fit_transform(list(data['product_name']))

In [23]:
pn.shape

(1000, 1685)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
pnc =cosine_similarity(pn)

In [18]:
type(pnc)

numpy.ndarray

In [33]:
pd.DataFrame(pnc).head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.0,0.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.154156,0.000000,0.000000,0.0
1,0.0,1.0,0.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
2,0.0,0.0,1.0,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
3,0.0,0.0,0.0,1.0000,0.0935,0.0,0.0,0.0,0.0,0.0,...,0.143364,0.0,0.000000,0.0,0.0,0.0,0.213070,0.000000,0.090773,0.0
4,0.0,0.0,0.0,0.0935,1.0000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.168005,0.0,0.0,0.0,0.000000,0.192761,0.141876,0.0

In [47]:
pd.DataFrame(pnc.argsort()).head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,499,650,651,652,653,654,655,656,657,658,...,573,967,99,931,101,590,575,171,558,0
1,0,656,657,658,659,660,661,662,663,664,...,28,211,907,78,920,272,424,462,239,1
2,0,652,653,654,655,656,657,658,659,660,...,236,96,280,798,28,737,861,559,568,2
3,0,649,650,651,652,653,654,655,656,657,...,990,680,274,759,543,648,430,996,773,3
4,0,656,657,658,659,660,661,662,663,664,...,638,39,997,308,326,968,274,845,850,4

In [228]:
list(data['department_id'].loc[pnc[k].argsort()[-5:-1]].values)

[7, 1, 1, 9]

In [231]:
str(list(data['product_name'].loc[pnc[0].argsort()[-5:-1]].values))[1:-1]

"'Oreo Cookies and Cream Chocolate Frozen Dairy Dessert', 'Vanilla Sugar Cookies', 'Gluten Free All Natural Chocolate Chip Cookies', 'Cookie Chips Crunchy Dark Chocolate Chocolate Chip Cookies'"

In [234]:
data['suggested_department_id'] = ''
data['suggested_product_id'] = ''
data['suggested_products'] = ''
data['suggested_aisle_id'] = ''
for k in range(0,data.shape[0]):
        data['suggested_department_id'][k] = str(list(data['department_id'].loc[pnc[k].argsort()[-5:-1]].values))[1:-1]
        data['suggested_product_id'][k] = str(list(data['product_id'].loc[pnc[k].argsort()[-5:-1]].values))[1:-1]
        data['suggested_products'][k] = str(list(data['product_name'].loc[pnc[k].argsort()[-5:-1]].values))[1:-1]
        data['suggested_aisle_id'][k] = str(list(data['aisle_id'].loc[pnc[k].argsort()[-5:-1]].values))[1:-1]

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [212]:
data.head()

,product_id,product_name,aisle_id,department_id,suggested_department_id,suggested_product_id,suggested_products,suggested_aisle_id
0,1,Chocolate Sandwich Cookies,61,19,"1,19,19,19","1,19,19,19",Oreo Cookies and Cream Chocolate Frozen Dairy ...,"37,61,61,61"
1,2,All-Seasons Salt,104,13,"19,6,13,13","19,6,13,13","Thin Stackers Brown Rice Salt Free,Sardines i...","107,33,104,104"
2,3,Robust Golden Unsweetened Oolong Tea,94,7,"16,16,7,19","16,16,7,19",Almond Breeze Unsweetened Almond Coconut Milk ...,"91,91,94,61"
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,"7,1,1,9","7,1,1,9","Classic coke,Ice Cream, Cookies & Cream,Mini D...","77,37,37,131"
4,5,Green Chile Anytime Sauce,5,13,"1,19,17,19","1,19,17,19","Petite Green Peas,Caramel Sauce,Apple Green Cu...","116,103,111,107"

In [ ]:
data.to_csv('Capstone 3.csv')